.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.text-me {
  font-family: Permanent Marker;
}

.text-adjust {
  font-family: Poiret One;
}

.text-add {
  font-family: Special Elite;
  border-style: ridge;
}

h3 {
  margin-top: 10px;
}

.select-book {
  font-family: Share Tech Mono;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');



